@import '~normalize.css'
@import 'var.styl'

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-default;
  #app {
    margin: 0;
    padding: 0;
    font-size: $font-size-base;
  }
}
