/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-operation-down {
  background-image: url(/static/sprite.png);
  background-position: 0px 0px;
  width: 48px;
  height: 6px;
}
.icon-water {
  background-image: url(/static/sprite.png);
  background-position: 0px -6px;
  width: 12px;
  height: 14px;
}
.icon-down {
  background-image: url(/static/sprite.png);
  background-position: 0px -20px;
  width: 30px;
  height: 17px;
}
.icon-detail {
  background-image: url(/static/sprite.png);
  background-position: 0px -37px;
  width: 12px;
  height: 19px;
}
.icon-view-more {
  background-image: url(/static/sprite.png);
  background-position: 0px -56px;
  width: 24px;
  height: 21px;
}
.icon-eye-close {
  background-image: url(/static/sprite.png);
  background-position: 0px -77px;
  width: 48px;
  height: 22px;
}
.icon-unlike {
  background-image: url(/static/sprite.png);
  background-position: 0px -99px;
  width: 28px;
  height: 23px;
}
.icon-like {
  background-image: url(/static/sprite.png);
  background-position: 0px -122px;
  width: 28px;
  height: 23px;
}
.icon-comment-icon {
  background-image: url(/static/sprite.png);
  background-position: 0px -145px;
  width: 28px;
  height: 24px;
}
.icon-Rectangle 2 {
  background-image: url(/static/sprite.png);
  background-position: 0px -169px;
  width: 7px;
  height: 24px;
}
.icon-view-num {
  background-image: url(/static/sprite.png);
  background-position: 0px -193px;
  width: 34px;
  height: 25px;
}
.icon-env-bad {
  background-image: url(/static/sprite.png);
  background-position: 0px -218px;
  width: 27px;
  height: 26px;
}
.icon-operation-on {
  background-image: url(/static/sprite.png);
  background-position: 0px -244px;
  width: 53px;
  height: 27px;
}
.icon-search {
  background-image: url(/static/sprite.png);
  background-position: 0px -271px;
  width: 28px;
  height: 28px;
}
.icon-location {
  background-image: url(/static/sprite.png);
  background-position: 0px -299px;
  width: 23px;
  height: 29px;
}
.icon-arrow-right {
  background-image: url(/static/sprite.png);
  background-position: 0px -328px;
  width: 17px;
  height: 30px;
}
.icon-eye {
  background-image: url(/static/sprite.png);
  background-position: 0px -358px;
  width: 48px;
  height: 30px;
}
.icon-env-good {
  background-image: url(/static/sprite.png);
  background-position: 0px -388px;
  width: 26px;
  height: 30px;
}
.icon-food-liked {
  background-image: url(/static/sprite.png);
  background-position: 0px -418px;
  width: 30px;
  height: 32px;
}
.icon-food-disliked {
  background-image: url(/static/sprite.png);
  background-position: 0px -450px;
  width: 30px;
  height: 32px;
}
.icon-food-dislike {
  background-image: url(/static/sprite.png);
  background-position: 0px -482px;
  width: 30px;
  height: 32px;
}
.icon-food-unlike {
  background-image: url(/static/sprite.png);
  background-position: 0px -514px;
  width: 30px;
  height: 32px;
}
.icon-food-like {
  background-image: url(/static/sprite.png);
  background-position: 0px -546px;
  width: 30px;
  height: 32px;
}
.icon-service-layout {
  background-image: url(/static/sprite.png);
  background-position: 0px -578px;
  width: 47px;
  height: 34px;
}
.icon-up-arrow {
  background-image: url(/static/sprite.png);
  background-position: 0px -612px;
  width: 34px;
  height: 34px;
}
.icon-building-icon-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -646px;
  width: 50px;
  height: 34px;
}
.icon-img {
  background-image: url(/static/sprite.png);
  background-position: 0px -680px;
  width: 48px;
  height: 34px;
}
.icon-verification {
  background-image: url(/static/sprite.png);
  background-position: 0px -714px;
  width: 53px;
  height: 34px;
}
.icon-my {
  background-image: url(/static/sprite.png);
  background-position: 0px -748px;
  width: 32px;
  height: 35px;
}
.icon-my-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -783px;
  width: 32px;
  height: 35px;
}
.icon-operation-off {
  background-image: url(/static/sprite.png);
  background-position: 0px -818px;
  width: 62px;
  height: 36px;
}
.icon-arrow-left {
  background-image: url(/static/sprite.png);
  background-position: 0px -854px;
  width: 20px;
  height: 36px;
}
.icon-service {
  background-image: url(/static/sprite.png);
  background-position: 0px -890px;
  width: 41px;
  height: 36px;
}
.icon-building-icon {
  background-image: url(/static/sprite.png);
  background-position: 0px -926px;
  width: 50px;
  height: 36px;
}
.icon-service-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -962px;
  width: 41px;
  height: 36px;
}
.icon-home-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -998px;
  width: 39px;
  height: 39px;
}
.icon-comment {
  background-image: url(/static/sprite.png);
  background-position: 0px -1037px;
  width: 45px;
  height: 39px;
}
.icon-home {
  background-image: url(/static/sprite.png);
  background-position: 0px -1076px;
  width: 39px;
  height: 39px;
}
.icon-activity {
  background-image: url(/static/sprite.png);
  background-position: 0px -1115px;
  width: 35px;
  height: 40px;
}
.icon-activity-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -1155px;
  width: 35px;
  height: 40px;
}
.icon-lock {
  background-image: url(/static/sprite.png);
  background-position: 0px -1195px;
  width: 36px;
  height: 42px;
}
.icon-delivery-icon-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -1237px;
  width: 52px;
  height: 45px;
}
.icon-delivery-icon {
  background-image: url(/static/sprite.png);
  background-position: 0px -1282px;
  width: 52px;
  height: 45px;
}
.icon-service-delivery {
  background-image: url(/static/sprite.png);
  background-position: 0px -1327px;
  width: 52px;
  height: 45px;
}
.icon-service-delivery-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -1372px;
  width: 52px;
  height: 45px;
}
.icon-phone {
  background-image: url(/static/sprite.png);
  background-position: 0px -1417px;
  width: 32px;
  height: 46px;
}
.icon-service-rent {
  background-image: url(/static/sprite.png);
  background-position: 0px -1463px;
  width: 48px;
  height: 46px;
}
.icon-rent-icon {
  background-image: url(/static/sprite.png);
  background-position: 0px -1509px;
  width: 48px;
  height: 46px;
}
.icon-rent-icon-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -1555px;
  width: 48px;
  height: 46px;
}
.icon-service-express {
  background-image: url(/static/sprite.png);
  background-position: 0px -1601px;
  width: 51px;
  height: 47px;
}
.icon-express-icon {
  background-image: url(/static/sprite.png);
  background-position: 0px -1648px;
  width: 51px;
  height: 47px;
}
.icon-service-express-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -1695px;
  width: 51px;
  height: 47px;
}
.icon-operation-pause {
  background-image: url(/static/sprite.png);
  background-position: 0px -1742px;
  width: 27px;
  height: 48px;
}
.icon-operation-tool-up {
  background-image: url(/static/sprite.png);
  background-position: 0px -1790px;
  width: 48px;
  height: 48px;
}
.icon-express-icon-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -1838px;
  width: 52px;
  height: 48px;
}
.icon-blands-icon-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -1886px;
  width: 46px;
  height: 52px;
}
.icon-blands-icon {
  background-image: url(/static/sprite.png);
  background-position: 0px -1938px;
  width: 46px;
  height: 52px;
}
.icon-bland-icon {
  background-image: url(/static/sprite.png);
  background-position: 0px -1990px;
  width: 46px;
  height: 52px;
}
.icon-bland-icon-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -2042px;
  width: 46px;
  height: 52px;
}
.icon-visitor-icon-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -2094px;
  width: 69px;
  height: 53px;
}
.icon-service-visitor {
  background-image: url(/static/sprite.png);
  background-position: 0px -2147px;
  width: 69px;
  height: 53px;
}
.icon-service-clean {
  background-image: url(/static/sprite.png);
  background-position: 0px -2200px;
  width: 50px;
  height: 53px;
}
.icon-visitor-icon {
  background-image: url(/static/sprite.png);
  background-position: 0px -2253px;
  width: 69px;
  height: 53px;
}
.icon-service-wash-car {
  background-image: url(/static/sprite.png);
  background-position: 0px -2306px;
  width: 44px;
  height: 53px;
}
.icon-service-park {
  background-image: url(/static/sprite.png);
  background-position: 0px -2359px;
  width: 54px;
  height: 54px;
}
.icon-park-icon-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -2413px;
  width: 54px;
  height: 54px;
}
.icon-park-icon {
  background-image: url(/static/sprite.png);
  background-position: 0px -2467px;
  width: 54px;
  height: 54px;
}
.icon-service-water {
  background-image: url(/static/sprite.png);
  background-position: 0px -2521px;
  width: 40px;
  height: 56px;
}
.icon-operation-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -2577px;
  width: 56px;
  height: 57px;
}
.icon-operation {
  background-image: url(/static/sprite.png);
  background-position: 0px -2634px;
  width: 56px;
  height: 57px;
}
.icon-tools-icon-active {
  background-image: url(/static/sprite.png);
  background-position: 0px -2691px;
  width: 56px;
  height: 57px;
}
.icon-tools-icon {
  background-image: url(/static/sprite.png);
  background-position: 0px -2748px;
  width: 56px;
  height: 57px;
}
.icon-delete {
  background-image: url(/static/sprite.png);
  background-position: 0px -2805px;
  width: 60px;
  height: 60px;
}
.icon-success {
  background-image: url(/static/sprite.png);
  background-position: 0px -2865px;
  width: 58px;
  height: 60px;
}
.icon-toast-fail {
  background-image: url(/static/sprite.png);
  background-position: 0px -2925px;
  width: 60px;
  height: 60px;
}
.icon-error {
  background-image: url(/static/sprite.png);
  background-position: 0px -2985px;
  width: 60px;
  height: 60px;
}
.icon-toast-warning {
  background-image: url(/static/sprite.png);
  background-position: 0px -3045px;
  width: 60px;
  height: 60px;
}
.icon-toast-success {
  background-image: url(/static/sprite.png);
  background-position: 0px -3105px;
  width: 58px;
  height: 60px;
}
.icon-warning {
  background-image: url(/static/sprite.png);
  background-position: 0px -3165px;
  width: 60px;
  height: 60px;
}
.icon-operation-close {
  background-image: url(/static/sprite.png);
  background-position: 0px -3225px;
  width: 54px;
  height: 62px;
}
.icon-operation-open {
  background-image: url(/static/sprite.png);
  background-position: 0px -3287px;
  width: 63px;
  height: 67px;
}
.icon-call {
  background-image: url(/static/sprite.png);
  background-position: 0px -3354px;
  width: 70px;
  height: 70px;
}
.icon-operation-pause-on {
  background-image: url(/static/sprite.png);
  background-position: 0px -3424px;
  width: 64px;
  height: 82px;
}
.icon-operation-center {
  background-image: url(/static/sprite.png);
  background-position: 0px -3506px;
  width: 100px;
  height: 100px;
}
.icon-no-activity {
  background-image: url(/static/sprite.png);
  background-position: 0px -3606px;
  width: 185px;
  height: 172px;
}
.icon-rent-img {
  background-image: url(/static/sprite.png);
  background-position: 0px -3778px;
  width: 240px;
  height: 240px;
}
.icon-z13-logo {
  background-image: url(/static/sprite.png);
  background-position: 0px -4018px;
  width: 1280px;
  height: 256px;
}
.icon-404 {
  background-image: url(/static/sprite.png);
  background-position: 0px -4274px;
  width: 305px;
  height: 279px;
}
.icon-operation-tool {
  background-image: url(/static/sprite.png);
  background-position: 0px -4553px;
  width: 396px;
  height: 396px;
}
.icon-operation-tool-open {
  background-image: url(/static/sprite.png);
  background-position: 0px -4949px;
  width: 396px;
  height: 396px;
}
