/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$404_name = '404';
$404_x = 792px;
$404_y = 256px;
$404_offset_x = -792px;
$404_offset_y = -256px;
$404_width = 305px;
$404_height = 279px;
$404_total_width = 1280px;
$404_total_height = 940px;
$404_image = '~sprite.png';
$404 = 792px 256px -792px -256px 305px 279px 1280px 940px '~sprite.png' '404';
$activity_active_name = 'activity-active';
$activity_active_x = 496px;
$activity_active_y = 753px;
$activity_active_offset_x = -496px;
$activity_active_offset_y = -753px;
$activity_active_width = 35px;
$activity_active_height = 40px;
$activity_active_total_width = 1280px;
$activity_active_total_height = 940px;
$activity_active_image = '~sprite.png';
$activity_active = 496px 753px -496px -753px 35px 40px 1280px 940px '~sprite.png' 'activity-active';
$activity_name = 'activity';
$activity_x = 461px;
$activity_y = 753px;
$activity_offset_x = -461px;
$activity_offset_y = -753px;
$activity_width = 35px;
$activity_height = 40px;
$activity_total_width = 1280px;
$activity_total_height = 940px;
$activity_image = '~sprite.png';
$activity = 461px 753px -461px -753px 35px 40px 1280px 940px '~sprite.png' 'activity';
$arrow_left_name = 'arrow-left';
$arrow_left_x = 1257px;
$arrow_left_y = 479px;
$arrow_left_offset_x = -1257px;
$arrow_left_offset_y = -479px;
$arrow_left_width = 20px;
$arrow_left_height = 36px;
$arrow_left_total_width = 1280px;
$arrow_left_total_height = 940px;
$arrow_left_image = '~sprite.png';
$arrow_left = 1257px 479px -1257px -479px 20px 36px 1280px 940px '~sprite.png' 'arrow-left';
$arrow_right_name = 'arrow-right';
$arrow_right_x = 1261px;
$arrow_right_y = 256px;
$arrow_right_offset_x = -1261px;
$arrow_right_offset_y = -256px;
$arrow_right_width = 17px;
$arrow_right_height = 30px;
$arrow_right_total_width = 1280px;
$arrow_right_total_height = 940px;
$arrow_right_image = '~sprite.png';
$arrow_right = 1261px 256px -1261px -256px 17px 30px 1280px 940px '~sprite.png' 'arrow-right';
$blands_icon_active_name = 'blands-icon-active';
$blands_icon_active_x = 1230px;
$blands_icon_active_y = 356px;
$blands_icon_active_offset_x = -1230px;
$blands_icon_active_offset_y = -356px;
$blands_icon_active_width = 46px;
$blands_icon_active_height = 52px;
$blands_icon_active_total_width = 1280px;
$blands_icon_active_total_height = 940px;
$blands_icon_active_image = '~sprite.png';
$blands_icon_active = 1230px 356px -1230px -356px 46px 52px 1280px 940px '~sprite.png' 'blands-icon-active';
$blands_icon_name = 'blands-icon';
$blands_icon_x = 479px;
$blands_icon_y = 652px;
$blands_icon_offset_x = -479px;
$blands_icon_offset_y = -652px;
$blands_icon_width = 46px;
$blands_icon_height = 52px;
$blands_icon_total_width = 1280px;
$blands_icon_total_height = 940px;
$blands_icon_image = '~sprite.png';
$blands_icon = 479px 652px -479px -652px 46px 52px 1280px 940px '~sprite.png' 'blands-icon';
$building_icon_active_name = 'building-icon-active';
$building_icon_active_x = 1118px;
$building_icon_active_y = 595px;
$building_icon_active_offset_x = -1118px;
$building_icon_active_offset_y = -595px;
$building_icon_active_width = 50px;
$building_icon_active_height = 34px;
$building_icon_active_total_width = 1280px;
$building_icon_active_total_height = 940px;
$building_icon_active_image = '~sprite.png';
$building_icon_active = 1118px 595px -1118px -595px 50px 34px 1280px 940px '~sprite.png' 'building-icon-active';
$building_icon_name = 'building-icon';
$building_icon_x = 669px;
$building_icon_y = 652px;
$building_icon_offset_x = -669px;
$building_icon_offset_y = -652px;
$building_icon_width = 50px;
$building_icon_height = 36px;
$building_icon_total_width = 1280px;
$building_icon_total_height = 940px;
$building_icon_image = '~sprite.png';
$building_icon = 669px 652px -669px -652px 50px 36px 1280px 940px '~sprite.png' 'building-icon';
$call_name = 'call';
$call_x = 1097px;
$call_y = 356px;
$call_offset_x = -1097px;
$call_offset_y = -356px;
$call_width = 70px;
$call_height = 70px;
$call_total_width = 1280px;
$call_total_height = 940px;
$call_image = '~sprite.png';
$call = 1097px 356px -1097px -356px 70px 70px 1280px 940px '~sprite.png' 'call';
$comment_name = 'comment';
$comment_x = 1235px;
$comment_y = 426px;
$comment_offset_x = -1235px;
$comment_offset_y = -426px;
$comment_width = 45px;
$comment_height = 39px;
$comment_total_width = 1280px;
$comment_total_height = 940px;
$comment_image = '~sprite.png';
$comment = 1235px 426px -1235px -426px 45px 39px 1280px 940px '~sprite.png' 'comment';
$delete_name = 'delete';
$delete_x = 852px;
$delete_y = 535px;
$delete_offset_x = -852px;
$delete_offset_y = -535px;
$delete_width = 60px;
$delete_height = 60px;
$delete_total_width = 1280px;
$delete_total_height = 940px;
$delete_image = '~sprite.png';
$delete = 852px 535px -852px -535px 60px 60px 1280px 940px '~sprite.png' 'delete';
$delivery_icon_active_name = 'delivery-icon-active';
$delivery_icon_active_x = 951px;
$delivery_icon_active_y = 595px;
$delivery_icon_active_offset_x = -951px;
$delivery_icon_active_offset_y = -595px;
$delivery_icon_active_width = 52px;
$delivery_icon_active_height = 45px;
$delivery_icon_active_total_width = 1280px;
$delivery_icon_active_total_height = 940px;
$delivery_icon_active_image = '~sprite.png';
$delivery_icon_active = 951px 595px -951px -595px 52px 45px 1280px 940px '~sprite.png' 'delivery-icon-active';
$delivery_icon_name = 'delivery-icon';
$delivery_icon_x = 899px;
$delivery_icon_y = 595px;
$delivery_icon_offset_x = -899px;
$delivery_icon_offset_y = -595px;
$delivery_icon_width = 52px;
$delivery_icon_height = 45px;
$delivery_icon_total_width = 1280px;
$delivery_icon_total_height = 940px;
$delivery_icon_image = '~sprite.png';
$delivery_icon = 899px 595px -899px -595px 52px 45px 1280px 940px '~sprite.png' 'delivery-icon';
$detail_name = 'detail';
$detail_x = 1261px;
$detail_y = 286px;
$detail_offset_x = -1261px;
$detail_offset_y = -286px;
$detail_width = 12px;
$detail_height = 19px;
$detail_total_width = 1280px;
$detail_total_height = 940px;
$detail_image = '~sprite.png';
$detail = 1261px 286px -1261px -286px 12px 19px 1280px 940px '~sprite.png' 'detail';
$down_name = 'down';
$down_x = 1197px;
$down_y = 338px;
$down_offset_x = -1197px;
$down_offset_y = -338px;
$down_width = 30px;
$down_height = 17px;
$down_total_width = 1280px;
$down_total_height = 940px;
$down_image = '~sprite.png';
$down = 1197px 338px -1197px -338px 30px 17px 1280px 940px '~sprite.png' 'down';
$env_bad_name = 'env-bad';
$env_bad_x = 559px;
$env_bad_y = 753px;
$env_bad_offset_x = -559px;
$env_bad_offset_y = -753px;
$env_bad_width = 27px;
$env_bad_height = 26px;
$env_bad_total_width = 1280px;
$env_bad_total_height = 940px;
$env_bad_image = '~sprite.png';
$env_bad = 559px 753px -559px -753px 27px 26px 1280px 940px '~sprite.png' 'env-bad';
$env_good_name = 'env-good';
$env_good_x = 272px;
$env_good_y = 824px;
$env_good_offset_x = -272px;
$env_good_offset_y = -824px;
$env_good_width = 26px;
$env_good_height = 30px;
$env_good_total_width = 1280px;
$env_good_total_height = 940px;
$env_good_image = '~sprite.png';
$env_good = 272px 824px -272px -824px 26px 30px 1280px 940px '~sprite.png' 'env-good';
$error_name = 'error';
$error_x = 792px;
$error_y = 535px;
$error_offset_x = -792px;
$error_offset_y = -535px;
$error_width = 60px;
$error_height = 60px;
$error_total_width = 1280px;
$error_total_height = 940px;
$error_image = '~sprite.png';
$error = 792px 535px -792px -535px 60px 60px 1280px 940px '~sprite.png' 'error';
$express_icon_active_name = 'express-icon-active';
$express_icon_active_x = 1205px;
$express_icon_active_y = 479px;
$express_icon_active_offset_x = -1205px;
$express_icon_active_offset_y = -479px;
$express_icon_active_width = 52px;
$express_icon_active_height = 48px;
$express_icon_active_total_width = 1280px;
$express_icon_active_total_height = 940px;
$express_icon_active_image = '~sprite.png';
$express_icon_active = 1205px 479px -1205px -479px 52px 48px 1280px 940px '~sprite.png' 'express-icon-active';
$express_icon_name = 'express-icon';
$express_icon_x = 848px;
$express_icon_y = 595px;
$express_icon_offset_x = -848px;
$express_icon_offset_y = -595px;
$express_icon_width = 51px;
$express_icon_height = 47px;
$express_icon_total_width = 1280px;
$express_icon_total_height = 940px;
$express_icon_image = '~sprite.png';
$express_icon = 848px 595px -848px -595px 51px 47px 1280px 940px '~sprite.png' 'express-icon';
$eye_close_name = 'eye-close';
$eye_close_x = 854px;
$eye_close_y = 652px;
$eye_close_offset_x = -854px;
$eye_close_offset_y = -652px;
$eye_close_width = 48px;
$eye_close_height = 22px;
$eye_close_total_width = 1280px;
$eye_close_total_height = 940px;
$eye_close_image = '~sprite.png';
$eye_close = 854px 652px -854px -652px 48px 22px 1280px 940px '~sprite.png' 'eye-close';
$eye_name = 'eye';
$eye_x = 1216px;
$eye_y = 595px;
$eye_offset_x = -1216px;
$eye_offset_y = -595px;
$eye_width = 48px;
$eye_height = 30px;
$eye_total_width = 1280px;
$eye_total_height = 940px;
$eye_image = '~sprite.png';
$eye = 1216px 595px -1216px -595px 48px 30px 1280px 940px '~sprite.png' 'eye';
$home_active_name = 'home-active';
$home_active_x = 425px;
$home_active_y = 714px;
$home_active_offset_x = -425px;
$home_active_offset_y = -714px;
$home_active_width = 39px;
$home_active_height = 39px;
$home_active_total_width = 1280px;
$home_active_total_height = 940px;
$home_active_image = '~sprite.png';
$home_active = 425px 714px -425px -714px 39px 39px 1280px 940px '~sprite.png' 'home-active';
$home_name = 'home';
$home_x = 464px;
$home_y = 714px;
$home_offset_x = -464px;
$home_offset_y = -714px;
$home_width = 39px;
$home_height = 39px;
$home_total_width = 1280px;
$home_total_height = 940px;
$home_image = '~sprite.png';
$home = 464px 714px -464px -714px 39px 39px 1280px 940px '~sprite.png' 'home';
$img_name = 'img';
$img_x = 1168px;
$img_y = 595px;
$img_offset_x = -1168px;
$img_offset_y = -595px;
$img_width = 48px;
$img_height = 34px;
$img_total_width = 1280px;
$img_total_height = 940px;
$img_image = '~sprite.png';
$img = 1168px 595px -1168px -595px 48px 34px 1280px 940px '~sprite.png' 'img';
$location_name = 'location';
$location_x = 425px;
$location_y = 795px;
$location_offset_x = -425px;
$location_offset_y = -795px;
$location_width = 23px;
$location_height = 29px;
$location_total_width = 1280px;
$location_total_height = 940px;
$location_image = '~sprite.png';
$location = 425px 795px -425px -795px 23px 29px 1280px 940px '~sprite.png' 'location';
$lock_name = 'lock';
$lock_x = 425px;
$lock_y = 753px;
$lock_offset_x = -425px;
$lock_offset_y = -753px;
$lock_width = 36px;
$lock_height = 42px;
$lock_total_width = 1280px;
$lock_total_height = 940px;
$lock_image = '~sprite.png';
$lock = 425px 753px -425px -753px 36px 42px 1280px 940px '~sprite.png' 'lock';
$my_active_name = 'my-active';
$my_active_x = 535px;
$my_active_y = 714px;
$my_active_offset_x = -535px;
$my_active_offset_y = -714px;
$my_active_width = 32px;
$my_active_height = 35px;
$my_active_total_width = 1280px;
$my_active_total_height = 940px;
$my_active_image = '~sprite.png';
$my_active = 535px 714px -535px -714px 32px 35px 1280px 940px '~sprite.png' 'my-active';
$my_name = 'my';
$my_x = 503px;
$my_y = 714px;
$my_offset_x = -503px;
$my_offset_y = -714px;
$my_width = 32px;
$my_height = 35px;
$my_total_width = 1280px;
$my_total_height = 940px;
$my_image = '~sprite.png';
$my = 503px 714px -503px -714px 32px 35px 1280px 940px '~sprite.png' 'my';
$no_activity_name = 'no-activity';
$no_activity_x = 240px;
$no_activity_y = 652px;
$no_activity_offset_x = -240px;
$no_activity_offset_y = -652px;
$no_activity_width = 185px;
$no_activity_height = 172px;
$no_activity_total_width = 1280px;
$no_activity_total_height = 940px;
$no_activity_image = '~sprite.png';
$no_activity = 240px 652px -240px -652px 185px 172px 1280px 940px '~sprite.png' 'no-activity';
$operation_center_name = 'operation-center';
$operation_center_x = 1097px;
$operation_center_y = 256px;
$operation_center_offset_x = -1097px;
$operation_center_offset_y = -256px;
$operation_center_width = 100px;
$operation_center_height = 100px;
$operation_center_total_width = 1280px;
$operation_center_total_height = 940px;
$operation_center_image = '~sprite.png';
$operation_center = 1097px 256px -1097px -256px 100px 100px 1280px 940px '~sprite.png' 'operation-center';
$operation_close_name = 'operation-close';
$operation_close_x = 425px;
$operation_close_y = 652px;
$operation_close_offset_x = -425px;
$operation_close_offset_y = -652px;
$operation_close_width = 54px;
$operation_close_height = 62px;
$operation_close_total_width = 1280px;
$operation_close_total_height = 940px;
$operation_close_image = '~sprite.png';
$operation_close = 425px 652px -425px -652px 54px 62px 1280px 940px '~sprite.png' 'operation-close';
$operation_down_name = 'operation-down';
$operation_down_x = 1227px;
$operation_down_y = 338px;
$operation_down_offset_x = -1227px;
$operation_down_offset_y = -338px;
$operation_down_width = 48px;
$operation_down_height = 6px;
$operation_down_total_width = 1280px;
$operation_down_total_height = 940px;
$operation_down_image = '~sprite.png';
$operation_down = 1227px 338px -1227px -338px 48px 6px 1280px 940px '~sprite.png' 'operation-down';
$operation_off_name = 'operation-off';
$operation_off_x = 1003px;
$operation_off_y = 595px;
$operation_off_offset_x = -1003px;
$operation_off_offset_y = -595px;
$operation_off_width = 62px;
$operation_off_height = 36px;
$operation_off_total_width = 1280px;
$operation_off_total_height = 940px;
$operation_off_image = '~sprite.png';
$operation_off = 1003px 595px -1003px -595px 62px 36px 1280px 940px '~sprite.png' 'operation-off';
$operation_on_name = 'operation-on';
$operation_on_x = 801px;
$operation_on_y = 652px;
$operation_on_offset_x = -801px;
$operation_on_offset_y = -652px;
$operation_on_width = 53px;
$operation_on_height = 27px;
$operation_on_total_width = 1280px;
$operation_on_total_height = 940px;
$operation_on_image = '~sprite.png';
$operation_on = 801px 652px -801px -652px 53px 27px 1280px 940px '~sprite.png' 'operation-on';
$operation_open_name = 'operation-open';
$operation_open_x = 1167px;
$operation_open_y = 356px;
$operation_open_offset_x = -1167px;
$operation_open_offset_y = -356px;
$operation_open_width = 63px;
$operation_open_height = 67px;
$operation_open_total_width = 1280px;
$operation_open_total_height = 940px;
$operation_open_image = '~sprite.png';
$operation_open = 1167px 356px -1167px -356px 63px 67px 1280px 940px '~sprite.png' 'operation-open';
$operation_pause_on_name = 'operation-pause-on';
$operation_pause_on_x = 1197px;
$operation_pause_on_y = 256px;
$operation_pause_on_offset_x = -1197px;
$operation_pause_on_offset_y = -256px;
$operation_pause_on_width = 64px;
$operation_pause_on_height = 82px;
$operation_pause_on_total_width = 1280px;
$operation_pause_on_total_height = 940px;
$operation_pause_on_image = '~sprite.png';
$operation_pause_on = 1197px 256px -1197px -256px 64px 82px 1280px 940px '~sprite.png' 'operation-pause-on';
$operation_pause_name = 'operation-pause';
$operation_pause_x = 0px;
$operation_pause_y = 892px;
$operation_pause_offset_x = 0px;
$operation_pause_offset_y = -892px;
$operation_pause_width = 27px;
$operation_pause_height = 48px;
$operation_pause_total_width = 1280px;
$operation_pause_total_height = 940px;
$operation_pause_image = '~sprite.png';
$operation_pause = 0px 892px 0px -892px 27px 48px 1280px 940px '~sprite.png' 'operation-pause';
$operation_tool_open_name = 'operation-tool-open';
$operation_tool_open_x = 396px;
$operation_tool_open_y = 256px;
$operation_tool_open_offset_x = -396px;
$operation_tool_open_offset_y = -256px;
$operation_tool_open_width = 396px;
$operation_tool_open_height = 396px;
$operation_tool_open_total_width = 1280px;
$operation_tool_open_total_height = 940px;
$operation_tool_open_image = '~sprite.png';
$operation_tool_open = 396px 256px -396px -256px 396px 396px 1280px 940px '~sprite.png' 'operation-tool-open';
$operation_tool_up_name = 'operation-tool-up';
$operation_tool_up_x = 525px;
$operation_tool_up_y = 652px;
$operation_tool_up_offset_x = -525px;
$operation_tool_up_offset_y = -652px;
$operation_tool_up_width = 48px;
$operation_tool_up_height = 48px;
$operation_tool_up_total_width = 1280px;
$operation_tool_up_total_height = 940px;
$operation_tool_up_image = '~sprite.png';
$operation_tool_up = 525px 652px -525px -652px 48px 48px 1280px 940px '~sprite.png' 'operation-tool-up';
$operation_tool_name = 'operation-tool';
$operation_tool_x = 0px;
$operation_tool_y = 256px;
$operation_tool_offset_x = 0px;
$operation_tool_offset_y = -256px;
$operation_tool_width = 396px;
$operation_tool_height = 396px;
$operation_tool_total_width = 1280px;
$operation_tool_total_height = 940px;
$operation_tool_image = '~sprite.png';
$operation_tool = 0px 256px 0px -256px 396px 396px 1280px 940px '~sprite.png' 'operation-tool';
$park_icon_active_name = 'park-icon-active';
$park_icon_active_x = 1097px;
$park_icon_active_y = 479px;
$park_icon_active_offset_x = -1097px;
$park_icon_active_offset_y = -479px;
$park_icon_active_width = 54px;
$park_icon_active_height = 54px;
$park_icon_active_total_width = 1280px;
$park_icon_active_total_height = 940px;
$park_icon_active_image = '~sprite.png';
$park_icon_active = 1097px 479px -1097px -479px 54px 54px 1280px 940px '~sprite.png' 'park-icon-active';
$park_icon_name = 'park-icon';
$park_icon_x = 1151px;
$park_icon_y = 479px;
$park_icon_offset_x = -1151px;
$park_icon_offset_y = -479px;
$park_icon_width = 54px;
$park_icon_height = 54px;
$park_icon_total_width = 1280px;
$park_icon_total_height = 940px;
$park_icon_image = '~sprite.png';
$park_icon = 1151px 479px -1151px -479px 54px 54px 1280px 940px '~sprite.png' 'park-icon';
$phone_name = 'phone';
$phone_x = 240px;
$phone_y = 824px;
$phone_offset_x = -240px;
$phone_offset_y = -824px;
$phone_width = 32px;
$phone_height = 46px;
$phone_total_width = 1280px;
$phone_total_height = 940px;
$phone_image = '~sprite.png';
$phone = 240px 824px -240px -824px 32px 46px 1280px 940px '~sprite.png' 'phone';
$rectangle_2_name = 'Rectangle 2';
$rectangle_2_x = 1261px;
$rectangle_2_y = 305px;
$rectangle_2_offset_x = -1261px;
$rectangle_2_offset_y = -305px;
$rectangle_2_width = 7px;
$rectangle_2_height = 24px;
$rectangle_2_total_width = 1280px;
$rectangle_2_total_height = 940px;
$rectangle_2_image = '~sprite.png';
$rectangle_2 = 1261px 305px -1261px -305px 7px 24px 1280px 940px '~sprite.png' 'Rectangle 2';
$rent_icon_active_name = 'rent-icon-active';
$rent_icon_active_x = 621px;
$rent_icon_active_y = 652px;
$rent_icon_active_offset_x = -621px;
$rent_icon_active_offset_y = -652px;
$rent_icon_active_width = 48px;
$rent_icon_active_height = 46px;
$rent_icon_active_total_width = 1280px;
$rent_icon_active_total_height = 940px;
$rent_icon_active_image = '~sprite.png';
$rent_icon_active = 621px 652px -621px -652px 48px 46px 1280px 940px '~sprite.png' 'rent-icon-active';
$rent_icon_name = 'rent-icon';
$rent_icon_x = 573px;
$rent_icon_y = 652px;
$rent_icon_offset_x = -573px;
$rent_icon_offset_y = -652px;
$rent_icon_width = 48px;
$rent_icon_height = 46px;
$rent_icon_total_width = 1280px;
$rent_icon_total_height = 940px;
$rent_icon_image = '~sprite.png';
$rent_icon = 573px 652px -573px -652px 48px 46px 1280px 940px '~sprite.png' 'rent-icon';
$rent_img_name = 'rent-img';
$rent_img_x = 0px;
$rent_img_y = 652px;
$rent_img_offset_x = 0px;
$rent_img_offset_y = -652px;
$rent_img_width = 240px;
$rent_img_height = 240px;
$rent_img_total_width = 1280px;
$rent_img_total_height = 940px;
$rent_img_image = '~sprite.png';
$rent_img = 0px 652px 0px -652px 240px 240px 1280px 940px '~sprite.png' 'rent-img';
$search_name = 'search';
$search_x = 531px;
$search_y = 753px;
$search_offset_x = -531px;
$search_offset_y = -753px;
$search_width = 28px;
$search_height = 28px;
$search_total_width = 1280px;
$search_total_height = 940px;
$search_image = '~sprite.png';
$search = 531px 753px -531px -753px 28px 28px 1280px 940px '~sprite.png' 'search';
$service_active_name = 'service-active';
$service_active_x = 719px;
$service_active_y = 652px;
$service_active_offset_x = -719px;
$service_active_offset_y = -652px;
$service_active_width = 41px;
$service_active_height = 36px;
$service_active_total_width = 1280px;
$service_active_total_height = 940px;
$service_active_image = '~sprite.png';
$service_active = 719px 652px -719px -652px 41px 36px 1280px 940px '~sprite.png' 'service-active';
$service_name = 'service';
$service_x = 760px;
$service_y = 652px;
$service_offset_x = -760px;
$service_offset_y = -652px;
$service_width = 41px;
$service_height = 36px;
$service_total_width = 1280px;
$service_total_height = 940px;
$service_image = '~sprite.png';
$service = 760px 652px -760px -652px 41px 36px 1280px 940px '~sprite.png' 'service';
$success_name = 'success';
$success_x = 1150px;
$success_y = 535px;
$success_offset_x = -1150px;
$success_offset_y = -535px;
$success_width = 58px;
$success_height = 60px;
$success_total_width = 1280px;
$success_total_height = 940px;
$success_image = '~sprite.png';
$success = 1150px 535px -1150px -535px 58px 60px 1280px 940px '~sprite.png' 'success';
$toast_fail_name = 'toast-fail';
$toast_fail_x = 1032px;
$toast_fail_y = 535px;
$toast_fail_offset_x = -1032px;
$toast_fail_offset_y = -535px;
$toast_fail_width = 60px;
$toast_fail_height = 60px;
$toast_fail_total_width = 1280px;
$toast_fail_total_height = 940px;
$toast_fail_image = '~sprite.png';
$toast_fail = 1032px 535px -1032px -535px 60px 60px 1280px 940px '~sprite.png' 'toast-fail';
$toast_success_name = 'toast-success';
$toast_success_x = 1092px;
$toast_success_y = 535px;
$toast_success_offset_x = -1092px;
$toast_success_offset_y = -535px;
$toast_success_width = 58px;
$toast_success_height = 60px;
$toast_success_total_width = 1280px;
$toast_success_total_height = 940px;
$toast_success_image = '~sprite.png';
$toast_success = 1092px 535px -1092px -535px 58px 60px 1280px 940px '~sprite.png' 'toast-success';
$toast_warning_name = 'toast-warning';
$toast_warning_x = 972px;
$toast_warning_y = 535px;
$toast_warning_offset_x = -972px;
$toast_warning_offset_y = -535px;
$toast_warning_width = 60px;
$toast_warning_height = 60px;
$toast_warning_total_width = 1280px;
$toast_warning_total_height = 940px;
$toast_warning_image = '~sprite.png';
$toast_warning = 972px 535px -972px -535px 60px 60px 1280px 940px '~sprite.png' 'toast-warning';
$tools_icon_active_name = 'tools-icon-active';
$tools_icon_active_x = 792px;
$tools_icon_active_y = 595px;
$tools_icon_active_offset_x = -792px;
$tools_icon_active_offset_y = -595px;
$tools_icon_active_width = 56px;
$tools_icon_active_height = 57px;
$tools_icon_active_total_width = 1280px;
$tools_icon_active_total_height = 940px;
$tools_icon_active_image = '~sprite.png';
$tools_icon_active = 792px 595px -792px -595px 56px 57px 1280px 940px '~sprite.png' 'tools-icon-active';
$tools_icon_name = 'tools-icon';
$tools_icon_x = 1208px;
$tools_icon_y = 535px;
$tools_icon_offset_x = -1208px;
$tools_icon_offset_y = -535px;
$tools_icon_width = 56px;
$tools_icon_height = 57px;
$tools_icon_total_width = 1280px;
$tools_icon_total_height = 940px;
$tools_icon_image = '~sprite.png';
$tools_icon = 1208px 535px -1208px -535px 56px 57px 1280px 940px '~sprite.png' 'tools-icon';
$verification_name = 'verification';
$verification_x = 1065px;
$verification_y = 595px;
$verification_offset_x = -1065px;
$verification_offset_y = -595px;
$verification_width = 53px;
$verification_height = 34px;
$verification_total_width = 1280px;
$verification_total_height = 940px;
$verification_image = '~sprite.png';
$verification = 1065px 595px -1065px -595px 53px 34px 1280px 940px '~sprite.png' 'verification';
$view_more_name = 'view-more';
$view_more_x = 902px;
$view_more_y = 652px;
$view_more_offset_x = -902px;
$view_more_offset_y = -652px;
$view_more_width = 24px;
$view_more_height = 21px;
$view_more_total_width = 1280px;
$view_more_total_height = 940px;
$view_more_image = '~sprite.png';
$view_more = 902px 652px -902px -652px 24px 21px 1280px 940px '~sprite.png' 'view-more';
$view_num_name = 'view-num';
$view_num_x = 567px;
$view_num_y = 714px;
$view_num_offset_x = -567px;
$view_num_offset_y = -714px;
$view_num_width = 34px;
$view_num_height = 25px;
$view_num_total_width = 1280px;
$view_num_total_height = 940px;
$view_num_image = '~sprite.png';
$view_num = 567px 714px -567px -714px 34px 25px 1280px 940px '~sprite.png' 'view-num';
$visitor_icon_active_name = 'visitor-icon-active';
$visitor_icon_active_x = 1166px;
$visitor_icon_active_y = 426px;
$visitor_icon_active_offset_x = -1166px;
$visitor_icon_active_offset_y = -426px;
$visitor_icon_active_width = 69px;
$visitor_icon_active_height = 53px;
$visitor_icon_active_total_width = 1280px;
$visitor_icon_active_total_height = 940px;
$visitor_icon_active_image = '~sprite.png';
$visitor_icon_active = 1166px 426px -1166px -426px 69px 53px 1280px 940px '~sprite.png' 'visitor-icon-active';
$visitor_icon_name = 'visitor-icon';
$visitor_icon_x = 1097px;
$visitor_icon_y = 426px;
$visitor_icon_offset_x = -1097px;
$visitor_icon_offset_y = -426px;
$visitor_icon_width = 69px;
$visitor_icon_height = 53px;
$visitor_icon_total_width = 1280px;
$visitor_icon_total_height = 940px;
$visitor_icon_image = '~sprite.png';
$visitor_icon = 1097px 426px -1097px -426px 69px 53px 1280px 940px '~sprite.png' 'visitor-icon';
$warning_name = 'warning';
$warning_x = 912px;
$warning_y = 535px;
$warning_offset_x = -912px;
$warning_offset_y = -535px;
$warning_width = 60px;
$warning_height = 60px;
$warning_total_width = 1280px;
$warning_total_height = 940px;
$warning_image = '~sprite.png';
$warning = 912px 535px -912px -535px 60px 60px 1280px 940px '~sprite.png' 'warning';
$z13_logo_name = 'z13-logo';
$z13_logo_x = 0px;
$z13_logo_y = 0px;
$z13_logo_offset_x = 0px;
$z13_logo_offset_y = 0px;
$z13_logo_width = 1280px;
$z13_logo_height = 256px;
$z13_logo_total_width = 1280px;
$z13_logo_total_height = 940px;
$z13_logo_image = '~sprite.png';
$z13_logo = 0px 0px 0px 0px 1280px 256px 1280px 940px '~sprite.png' 'z13-logo';
$spritesheet_width = 1280px;
$spritesheet_height = 940px;
$spritesheet_image = '~sprite.png';
$spritesheet_sprites = $404 $activity_active $activity $arrow_left $arrow_right $blands_icon_active $blands_icon $building_icon_active $building_icon $call $comment $delete $delivery_icon_active $delivery_icon $detail $down $env_bad $env_good $error $express_icon_active $express_icon $eye_close $eye $home_active $home $img $location $lock $my_active $my $no_activity $operation_center $operation_close $operation_down $operation_off $operation_on $operation_open $operation_pause_on $operation_pause $operation_tool_open $operation_tool_up $operation_tool $park_icon_active $park_icon $phone $rectangle_2 $rent_icon_active $rent_icon $rent_img $search $service_active $service $success $toast_fail $toast_success $toast_warning $tools_icon_active $tools_icon $verification $view_more $view_num $visitor_icon_active $visitor_icon $warning $z13_logo;
$spritesheet = 1280px 940px '~sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
