$prefix                                     = 'z13';

// background

$background-body                            = #ffffff;
$background-default                         = #F3F4F6;
$background-mask                            = rgba(0, 0, 0, 0.4);
$background-mask-dark                       = rgba(0, 0, 0, 0.8);
// color

$brand-color                                = #00BA76;
$brand-color-yellow                         = #F39900;
$white                                      = #ffffff;

// font

$font-color                                 = #333333;
$font-second                                = #B0B0B0;
$font-size-base                             = 14px;
$font-size-head                             = 18px;
$font-size-head-large                       = 26px;
$font-size-big                              = 0.2rem;
$font-size-small                            = 12px;


// padding margin


$padding-small                              = 0.024rem;
$padding-base                               = 0.04rem;
$padding-large                              = 0.048rem;
$padding-tag                                = 0.01rem;

$margin-small                               = 0.03rem;
$margin-base                                = 0.04rem;
$margin-large                               = 0.1rem;

// border
$border-color                               = #CDCDCD;
$border-color-base                          = #CDCDCD;
// navbar

$navbar-height                              = 0.1375rem;

// icon

$icon-size-default                          = 0.05rem;
$icon-size-large                            = 0.06rem;


$hover-percent                              = 0.85;

// situation logo
$situation-logo-size                        = 0.25rem;


// banner
$banner-height                              = 0.46rem;

// Avatar
$avatar-size-base                           = 0.25rem;
$avatar-size-small                          = 0.08rem;

$transition-time                            = 0.2s;

setBackgroundImage(name, position=center) {
  background-image: url(name);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: position;
}


