$prefix                                     = 'z13';

// background

$background-body                            = #ffffff;
$background-default                         = #F3F4F6;

// color

$brand-color                                = #00BA76;
$white                                      = #ffffff;

// font

$font-color                                 = #333333;
$font-second                                = #B0B0B0;
$font-size-base                             = 0.046rem;
$font-size-head                             = 0.05rem;

// padding margin


$padding-small                              = 0.03rem;
$padding-base                               = 0.04rem;
$padding-large                              = 0.05rem;

$margin-small                               = 0.03rem;
$margin-base                                = 0.04rem;
$margin-large                               = 0.1rem;

// border
$border-color                               = #CDCDCD;

// navbar

$navbar-height                              = 0.1375rem;

// icon

$icon-size-default                          = 0.05rem;
$icon-size-large                            = 0.06rem;


$hover-percent                              = 0.85;

// situation logo
$situation-logo-size                        = 0.25rem;


setBackgroundImage(name) {
  background-image: url(name);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

* {
  outline: none;
  -webkit-user-select: none;
  &:active {
    outline: none;
  }
  input {
    -webkit-user-select: initial;
  }
}
